<c-col sm="12">
    <c-card class="mb-3">
      <c-card-header ngPreserveWhitespaces>
        <strong>Cập nhật thông số</strong>
      </c-card-header>
      <c-card-body>
        <c-col sm="12">
          <c-card class="mb-4">
            <c-card-body class="table-responsive">
              <c-row>
                <c-col sm="4">
                  <c-input-group>
                    <select
                      [(ngModel)]="keywordThietbi"
                      cSelect
                      id="keywordThietbi"
                      required
                    >
                      <option selected value="">Chọn hết</option>
                      @for (item of dsDanhmuc; track $index) {
                      <option value="{{ item.id }}">
                        {{ item.tenThietBi }}
                      </option>
                      }
                    </select>
                    <span>
                      <button cButton (click)="loadData()">Tìm</button></span
                    >
                  </c-input-group>
                </c-col>
                <c-col sm="8">
                  <button (click)="onThemmoi()" cButton>Thêm mới</button>
                </c-col>
              </c-row>
              <hr />
              <c-row>
                <c-col sm="12">
                  <table [hover]="true" cTable>
                    <thead>
                      <tr>
                        <th scope="col">Thiết bị</th>
                        <th scope="col">Nội dung</th>
                        <th scope="col">Đơn vị tính</th>
                        <th scope="col">Thông số</th>
                        <th scope="col">Hành động</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (item of dataSource ; track $index) {
                      <tr>
                        <td>{{ item.tenThietBi }}</td>
                        <td>{{ item.noiDung }}</td>
                        <td>{{ item.donViTinh }}</td>
                        <td>{{ item.thongSo }}</td>
                        <td>
                          <button
                            (click)="onEdit(item.id)"
                            style="margin-right: 5px"
                            cButton
                            size="sm"
                          >
                            Sửa
                          </button>
                          <button
                            (click)="onDelete(item.id)"
                            cButton
                            color="danger"
                            size="sm"
                          >
                            Xóa
                          </button>
                        </td>
                      </tr>
                      }
                    </tbody>
                  </table>
                </c-col>
              </c-row>
              <div class="d-flex justify-content-center">
                <pagination
                  [boundaryLinks]="true"
                  [itemsPerPage]="pageSize"
                  (pageChanged)="pageChanged($event)"
                  [totalItems]="totalRow"
                  [(ngModel)]="pageIndex"
                  class="pagination-sm"
                  previousText="&lsaquo;"
                  nextText="&rsaquo;"
                  firstText="&laquo;"
                  lastText="&raquo;"
                ></pagination>
              </div>
            </c-card-body>
          </c-card>
        </c-col>
      </c-card-body>
    </c-card>
  </c-col>
  

  <!-- Model -->

<c-modal
id="liveDemoModal"
backdrop="static"
size="xl"
[visible]="liveDemoVisible"
(visibleChange)="handleLiveDemoChange($event)"
>
<c-modal-header>
  <h5 cModalTitle>{{ title }}</h5>
  <button (click)="onClode()" cButtonClose></button>
</c-modal-header>
<c-modal-body>
  <form
    [formGroup]="Form"
    #customStylesForm="ngForm"
    (ngSubmit)="save()"
    [validated]="customStylesValidated"
    cForm
    class="row g-3 needs-validation"
  >
    <div>
      <input
        hidden="true"
        [(ngModel)]="entity.id"
        formControlName="id"
        cFormControl
        id="id"
        type="number"
        value="Mark"
      />
    </div>

    <c-col md="12">
      <label cLabel for="bomNuocId">Thiết bị</label>
      <select
        [(ngModel)]="entity.bomNuocId"
        formControlName="bomNuocId"
        cSelect
        id="bomNuocId"
        required
      >
        <option selected="true" value="">Chọn hết</option>
        @for (item of dsDanhmuc; track $index) {
        <option value="{{ item.id }}">{{ item.tenThietBi }}</option>
        }
      </select>
      <c-form-feedback [valid]="false">Thiết bị phải chọn.</c-form-feedback>
    </c-col>

    <c-col md="12">
      <label cLabel for="noiDung">Thông số kỹ thuật</label>
      <input
        [(ngModel)]="entity.noiDung"
        formControlName="noiDung"
        cFormControl
        id="noiDung"
        required
        type="text"
      />
      <c-form-feedback [valid]="false">Nội dung phải nhập.</c-form-feedback>
    </c-col>

    <c-col md="12">
      <label cLabel for="donViTinh">Đơn vị </label>
      <input
        [(ngModel)]="entity.donViTinh"
        formControlName="donViTinh"
        cFormControl
        id="donViTinh"
        required
        type="text"
      />
      <c-form-feedback [valid]="false">Đơn vị phải nhập.</c-form-feedback>
    </c-col>

    <c-col md="12">
      <label cLabel for="thongSo">Thông số</label>
      <input
        [(ngModel)]="entity.thongSo"
        formControlName="thongSo"
        cFormControl
        id="thongSo"
        required
        type="text"
      />
      <c-form-feedback [valid]="false">Thông số phải nhập.</c-form-feedback>
    </c-col>

    <c-col md="12">
      <button cButton class="me-1" color="primary" type="submit">
        Lưu lại
      </button>
      <button cButton color="danger" (click)="onClode()">Đóng</button>
    </c-col>
  </form>
</c-modal-body>
<c-modal-footer> </c-modal-footer>
</c-modal>
