<c-row>
  <c-col sm="12">
    <c-row>
      <c-col sm="4">
        <app-select-search [dsThietbi]="dsQuatgio" [dsDonvi]="dsDonvi" (eventSearchThietbi)="eventThietbi($event)"
          (eventSearchDonvi)="eventDonvi($event)"></app-select-search>
      </c-col>
      <c-col class="d-flex" sm="8">
        <button nz-button nzType="primary" (click)="onThemmoi()">
          Thêm mới
        </button>
        <button (click)="exportexcel()" nz-button nzType="default" nzPrimary>
          Xuất Excel
        </button>
      </c-col>
    </c-row>

    <nz-table cTable #columnTable nzShowQuickJumper nzShowSizeChanger [nzData]="dataQuatgioDetail"
      [nzScroll]="{ x: '1100px' }" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize"
      [nzPageSizeOptions]="[3, 5, 10, 20]" [nzTotal]="totalRow" [nzFrontPagination]="false"
      (nzPageIndexChange)="pageIndexChanged($event)" (nzPageSizeChange)="pageSizeChange($event)">
      <thead>
        <tr>
          <th nzLeft scope="col">Mã QL</th>
          <th scope="col">Thiết bị</th>
          <th scope="col">Đơn vị</th>
          <th scope="col">Ngày lắp</th>
          <th scope="col">Vị trí</th>
          <th scope="col">SL sử dụng</th>
          <th scope="col">Dự phòng</th>
          <th scope="col">Hành động</th>
        </tr>
      </thead>
      <tbody>
        @for (item of dataQuatgioDetail ; track $index) {
        <tr>
          <td nzLeft>{{ item.maQuanLy }}</td>
          <td>{{ item.tenThietBi }}</td>
          <td>{{ item.tenDonVi }}</td>
          <td>{{ item.ngayLap | date : "dd/MM/yyyy" }}</td>
          <td>{{ item.viTriLapDat }}</td>
          <td>{{ item.soLuong }}</td>
          <td [style.color]="item.duPhong ? 'red' : ''">{{ item.duPhong ? "Dự phòng" : "" }}</td>
          <td>
            <button nz-tooltip [nzTooltipTitle]="titleSua" [nzTooltipTitleContext]="{ $implicit: 'Icon' }" nz-button
              nzType="primary" style="border-radius: 3px" [nzSize]="size" (click)="onEdit(item.id)">
              <nz-icon nzType="edit" style="color: #ffffff" /><span>Sửa</span>
            </button>
            <button nz-tooltip [nzTooltipTitle]="titleXoa" [nzTooltipTitleContext]="{ $implicit: 'Icon' }" nz-button
              nzDanger nzType="primary" [nzSize]="size" (click)="onDelete(item.id)">
              <nz-icon nzType="delete" style="color: #ffffff" /><span>Xóa</span>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </nz-table>
  </c-col>
</c-row>
<!-- Icon -->
<ng-template #titleSua let-thing>
  <nz-icon nzType="edit" />
  <span>Sửa bản ghi</span>
</ng-template>
<ng-template #titleXoa let-thing>
  <nz-icon nzType="delete" />
  <span>Xóa bản ghi</span>
</ng-template>

<!-- Modal -->

<c-modal id="liveDemoModal" backdrop="static" size="xl" [visible]="liveDemoVisible"
  (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>{{ title }}</h5>
    <button (click)="onClode()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <c-row>
      <c-col xs="12">
        <c-card class="mb-3">
          <c-card-body>
            <c-tabs [activeItemKey]="0" (activeItemKeyChange)="handleActiveItemChange($event)">
              <c-tabs-list variant="underline-border">
                <button cTab [itemKey]="0">Cập nhật quạt gió</button>
                <button [hidden]="themoi" cTab [itemKey]="1">
                  Nhật ký quạt gió
                </button>
                <button [hidden]="themoi" cTab [itemKey]="2">
                  Thông số kỹ thuật
                </button>
              </c-tabs-list>
              <c-tabs-content>
                <c-tab-panel [itemKey]="0" class="p-3">
                  <form nz-form [formGroup]="Form" (ngSubmit)="save()">
                    <!-- hidden id  -->
                    <input [hidden]="true" type="number" formControlName="id" [(ngModel)]="tonghopquatgioDetail.id" />
                    <!-- Mã quản lý -->
                    <nz-form-item>
                      <nz-form-label [nzSpan]="5">Mã quản lý</nz-form-label>
                      <nz-form-control [nzSpan]="16">
                        <input id="maQuanLy" nz-input cFormControl sizing="sm" formControlName="maQuanLy"
                          [(ngModel)]="tonghopquatgioDetail.maQuanLy" />
                      </nz-form-control>
                    </nz-form-item>
                    <!-- thiết bị -->
                    <nz-form-item>
                      <nz-form-label [nzSpan]="5" nzFor="quatGioId" nzRequired>Thiết bị</nz-form-label>
                      <nz-form-control [nzSpan]="16"
                        [nzValidateStatus]="Form.get('quatGioId')?.invalid && Form.get('quatGioId')?.touched ? 'error' : ''"
                        nzErrorTip="Vui lòng chọn thiết bị">
                        <select id="quatGioId" formControlName="quatGioId" [(ngModel)]="tonghopquatgioDetail.quatGioId"
                          aria-label="Default select example" cSelect sizing="sm">
                          <option value="">Chọn thiết bị</option>
                          @for (item of dsQuatgio; track item.id) {
                          <option [value]="item.id">
                            {{ item.tenThietBi }}
                          </option>
                          }
                        </select>
                      </nz-form-control>
                    </nz-form-item>

                    <!-- Đơn vị -->
                    <nz-form-item>
                      <nz-form-label [nzSpan]="5" nzFor="donViId" nzRequired>Đơn vị</nz-form-label>
                      <nz-form-control [nzSpan]="16"
                        [nzValidateStatus]="Form.get('donViId')?.invalid && Form.get('donViId')?.touched ? 'error' : ''"
                        nzErrorTip="Vui lòng chọn đơn vị">
                        <select id="donViId" formControlName="donViId" [(ngModel)]="tonghopquatgioDetail.donViId"
                          cSelect sizing="sm">
                          <option value="">Chọn đơn vị</option>
                          @for (item of dsDonvi; track item.id) {
                          <option [value]="item.id">
                            {{ item.tenPhong }}
                          </option>
                          }
                        </select>
                      </nz-form-control>
                    </nz-form-item>
                    <!-- Vị trí lắp đặt -->
                    <nz-form-item>
                      <nz-form-label [nzSpan]="5" nzFor="viTriLapDat" nzRequired>Vị trí lắp đặt</nz-form-label>
                      <nz-form-control [nzSpan]="16"
                        [nzValidateStatus]="Form.get('viTriLapDat')?.invalid && Form.get('viTriLapDat')?.touched ? 'error' : ''"
                        nzErrorTip="Vị trí lắp đặt là bắt buộc">
                        <input id="viTriLapDat" nz-input cFormControl sizing="sm" formControlName="viTriLapDat"
                          [(ngModel)]="tonghopquatgioDetail.viTriLapDat" placeholder="Nhập vị trí lắp đặt" />
                      </nz-form-control>
                    </nz-form-item>
                    <!-- Ngày lắp -->
                    <nz-form-item>
                      <nz-form-label [nzSpan]="5" nzFor="ngayLap" nzRequired>Ngày lắp</nz-form-label>
                      <nz-form-control [nzSpan]="16"
                        [nzValidateStatus]="Form.get('ngayLap')?.invalid && Form.get('ngayLap')?.touched ? 'error' : ''"
                        nzErrorTip="Ngày lắp là bắt buộc">
                        <input id="ngayLap" nz-input cFormControl sizing="sm" formControlName="ngayLap"
                          [(ngModel)]="tonghopquatgioDetail.ngayLap" type="date" />
                      </nz-form-control>
                    </nz-form-item>
                    <!-- Số lượng -->
                    <nz-form-item>
                      <nz-form-label [nzSpan]="5" nzFor="soLuong" nzRequired>SL sử dụng</nz-form-label>
                      <nz-form-control [nzSpan]="16"
                        [nzValidateStatus]="Form.get('soLuong')?.invalid && Form.get('soLuong')?.touched ? 'error' : ''"
                        nzErrorTip="Số lượng phải lớn hơn 0">
                        <input id="soLuong" nz-input cFormControl sizing="sm" formControlName="soLuong"
                          [(ngModel)]="tonghopquatgioDetail.soLuong" type="number" min="1"
                          placeholder="Nhập số lượng" />
                      </nz-form-control>
                    </nz-form-item>
                    <!-- Tình trạng -->
                    <nz-form-item>
                      <nz-form-label [nzSpan]="5">Tình trạng thiết bị</nz-form-label>
                      <nz-form-control [nzSpan]="16">
                        <input id="tinhTrangThietBi" nz-input cFormControl sizing="sm"
                          formControlName="tinhTrangThietBi" [(ngModel)]="tonghopquatgioDetail.tinhTrangThietBi" />
                      </nz-form-control>
                    </nz-form-item>
                    <!-- Thiết bị dự phòng -->
                    <nz-form-item>
                      <nz-form-label [nzSpan]="5">TB Dự phòng</nz-form-label>
                      <nz-form-control [nzSpan]="16">
                        <c-form-check [switch]="tonghopquatgioDetail.duPhong">
                          <input cFormCheckInput checked sizing="lg" type="checkbox"
                            [(ngModel)]="tonghopquatgioDetail.duPhong" formControlName="duPhong" />
                          <label cFormCheckLabel>{{
                            tonghopquatgioDetail.duPhong ? "Kích hoạt" : "Hủy kích hoạt"
                            }}</label>
                        </c-form-check>
                      </nz-form-control>
                    </nz-form-item>
                    <!-- Ghi chú -->
                    <nz-form-item>
                      <nz-form-label [nzSpan]="5">Ghi chú</nz-form-label>
                      <nz-form-control [nzSpan]="16">
                        <input id="ghiChu" nz-input cFormControl sizing="sm" formControlName="ghiChu"
                          [(ngModel)]="tonghopquatgioDetail.ghiChu" />
                      </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                      <nz-form-label class="hide" [nzSpan]="5"></nz-form-label>
                      <nz-form-control [nzSpan]="16">
                        <button nz-button nzType="primary" nzPrimary type="submit">
                          Lưu lại
                        </button>
                        <button nz-button nzType="default" nzPrimary (click)="onClode()">
                          Đóng
                        </button>
                      </nz-form-control>
                    </nz-form-item>
                  </form>
                </c-tab-panel>
                <c-tab-panel [itemKey]="1" class="p-3">
                  <app-nhatkyquatgio-tab [TonghopquatgioDetail]="tonghopquatgioDetail">
                  </app-nhatkyquatgio-tab>
                </c-tab-panel>
                <c-tab-panel [itemKey]="2" class="p-3">
                  <app-thongsoquatgio-tab [TonghopquatgioDetail]="tonghopquatgioDetail" />
                </c-tab-panel>
              </c-tabs-content>
            </c-tabs>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-modal-body>
</c-modal>