<c-col sm="12">
  <app-select-search [dsThietbi]="danhSach" [dsDonvi]="dsDonvi" (eventSearchThietbi)="eventThietbi($event)"
    (eventSearchDonvi)="eventDonvi($event)"></app-select-search>

  <button (click)="onThemmoi()" nz-button nzType="primary" nzPrimary>
    <span>Thêm</span>
  </button>
  <button (click)="exportexcel()" nz-button nzType="default" nzPrimary>
    Xuất Excel
  </button>
  <c-col sm="12">
    <c-row>
      <c-col sm="12">
        <nz-table cTable #columnTable nzShowQuickJumper nzShowSizeChanger [nzData]="data" [nzScroll]="{ x: '1100px' }"
          [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzPageSizeOptions]="[3, 5, 10, 20]" [nzTotal]="totalRow"
          [nzFrontPagination]="false" (nzPageIndexChange)="pageIndexChanged($event)"
          (nzPageSizeChange)="pageSizeChange($event)">
          <thead>
            <tr>
              <th nzLeft scope="col" style="width: 200px">Mã QL</th>
              <th scope="col" style="width: 400px">Thiết bị</th>
              <th scope="col">Đơn vị</th>
              <th scope="col">Vị trí lắp đặt</th>
              <th scope="col">Ngày lắp</th>
              <th scope="col">Số lượng</th>
              <th scope="col">Hành động</th>
            </tr>
          </thead>
          <tbody>
            @for (item of data; track $index) {
            <tr>
              <td nzLeft>{{ item.maQuanLy }}</td>
              <td>{{ item.tenThietBi }}</td>
              <td>{{ item.tenDonVi }}</td>
              <td>{{ item.viTriLapDat }}</td>
              <td>{{ item.ngayLap | date : "dd/MM/yyyy" }}</td>
              <td>{{ item.soLuong }}</td>
              <td>
                <button nz-tooltip [nzTooltipTitle]="titleSua" [nzTooltipTitleContext]="{ $implicit: 'Icon' }" nz-button
                  nzType="primary" style="border-radius: 3px" [nzSize]="size" (click)="onEdit(item.id)">
                  <nz-icon nzType="edit" style="color: #ffffff" /><span>Sửa</span>
                </button>

                <button nz-tooltip [nzTooltipTitle]="titleXoa" [nzTooltipTitleContext]="{ $implicit: 'Icon' }" nz-button
                  nzType="primary" nzDanger style="border-radius: 3px" [nzSize]="size" (click)="showConfirm(item)">
                  <nz-icon nzType="delete" style="color: #ffffff" /><span>Xóa</span>
                </button>
                <ng-template #titleSua let-thing>
                  <nz-icon nzType="edit" />
                  <span>Sửa bản ghi</span>
                </ng-template>
                <ng-template #titleXoa let-thing>
                  <nz-icon nzType="delete" />
                  <span>Xóa bản ghi</span>
                </ng-template>
              </td>
            </tr>
            }
          </tbody>
        </nz-table>
        <div class="d-flex justify-content-between" style="margin-left: 30px; margin-bottom: 10px">
          <div>
            <strong>
              Tổng số thiết bị:
              <span class="text-primary">{{ sumSoluong }}</span></strong>
          </div>
        </div>
      </c-col>
    </c-row>
  </c-col>
</c-col>

<ng-template #icon>
  <nz-icon nzType="question-circle" nzTheme="outline"></nz-icon>
</ng-template>
<ng-template #customer>
  <nz-icon nzType="customer-service" nzTheme="outline"></nz-icon>
</ng-template>



<c-modal id="liveDemoModal" size="lg" backdrop="static" [visible]="liveDemoVisible"
  (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>{{ title }}</h5>
    <button (click)="onClode()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <c-row>
      <c-col xs="12">
        <c-tabs [activeItemKey]="0" (activeItemKeyChange)="handleActiveItemChange($event)">
          <c-tabs-list variant="underline-border">
            <button cTab [itemKey]="0">Cập nhật bơm nước</button>
            <button [hidden]="themoi" cTab [itemKey]="1">
              Nhật ký bơm nước
            </button>
            <button [hidden]="themoi" cTab [itemKey]="2">
              Thông số kỹ thuật
            </button>
          </c-tabs-list>
          <c-tabs-content>
            <c-tab-panel [itemKey]="0" class="p-3">
              <form nz-form [formGroup]="Form" (ngSubmit)="save()">
                <!-- hidden id  -->
                <input [hidden]="true" type="number" formControlName="id" [(ngModel)]="dataDetail.id" />
                <!-- Mã quản lý -->
                <nz-form-item>
                  <nz-form-label [nzSpan]="5">Mã quản lý</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input id="maQuanLy" nz-input cFormControl sizing="sm" formControlName="maQuanLy"
                      [(ngModel)]="dataDetail.maQuanLy" />
                  </nz-form-control>
                </nz-form-item>
                <!-- thiết bị -->
                <nz-form-item>
                  <nz-form-label [nzSpan]="5" nzFor="bomNuocId" nzRequired>Thiết bị</nz-form-label>
                  <nz-form-control [nzSpan]="16" nzErrorTip="thiết bị phải chọn">
                    <select id="bomNuocId" formControlName="bomNuocId" [(ngModel)]="dataDetail.bomNuocId"
                      aria-label="Default select example" cSelect sizing="sm">
                      <option>Chọn thiết bị</option>
                      @for (item of danhSach; track item.id) {
                      <option value="{{ item.id }}">
                        {{ item.tenThietBi }}
                      </option>
                      }
                    </select>
                  </nz-form-control>
                </nz-form-item>

                <!-- Đơn vị -->
                <nz-form-item>
                  <nz-form-label [nzSpan]="5">Đơn vị</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <select id="donViId" formControlName="donViId" [(ngModel)]="dataDetail.donViId" cSelect sizing="sm">
                      <option>Chọn đơn vị</option>
                      @for (item of dsDonvi; track item.id) {
                      <option value="{{ item.id }}">{{ item.tenPhong }}</option>
                      }
                    </select>
                  </nz-form-control>
                </nz-form-item>
                <!-- Vị trí lắp đặt -->
                <nz-form-item>
                  <nz-form-label [nzSpan]="5">Vị trí lắp đặt</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input id="viTriLapDat" nz-input cFormControl sizing="sm" formControlName="viTriLapDat"
                      [(ngModel)]="dataDetail.viTriLapDat" />
                  </nz-form-control>
                </nz-form-item>
                <!-- Ngày lắp -->
                <nz-form-item>
                  <nz-form-label [nzSpan]="5">Ngày lắp</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input id="ngayLap" nz-input cFormControl sizing="sm" formControlName="ngayLap"
                      [(ngModel)]="dataDetail.ngayLap" type="date" />
                  </nz-form-control>
                </nz-form-item>
                <!-- Số lượng -->
                <nz-form-item>
                  <nz-form-label [nzSpan]="5">Số lượng</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input id="soLuong" nz-input cFormControl sizing="sm" formControlName="soLuong"
                      [(ngModel)]="dataDetail.soLuong" type="number" />
                  </nz-form-control>
                </nz-form-item>
                <!-- Tình trạng -->
                <nz-form-item>
                  <nz-form-label [nzSpan]="5">Tình trạng thiết bị</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input id="tinhTrangThietBi" nz-input cFormControl sizing="sm" formControlName="tinhTrangThietBi"
                      [(ngModel)]="dataDetail.tinhTrangThietBi" />
                  </nz-form-control>
                </nz-form-item>

                <!-- Ghi chú -->
                <nz-form-item>
                  <nz-form-label [nzSpan]="5">Ghi chú</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input id="ghiChu" nz-input cFormControl sizing="sm" formControlName="ghiChu"
                      [(ngModel)]="dataDetail.ghiChu" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label class="hide" [nzSpan]="5"></nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <button nz-button nzType="primary" nzPrimary type="submit">
                      Lưu lại
                    </button>
                    <button nz-button nzType="default" nzPrimary (click)="onClode()">
                      Đóng
                    </button>
                  </nz-form-control>
                </nz-form-item>
              </form>
            </c-tab-panel>
            <c-tab-panel [itemKey]="1" class="p-3">
              <app-nhatkybomnuoc-tab [TonghopbomnuocDetail]="dataDetail" />

            </c-tab-panel>
            <c-tab-panel [itemKey]="2" class="p-3">
              <app-thongsobomnuoc-tab [TonghopbomnuocDetail]="dataDetail" />
            </c-tab-panel>
          </c-tabs-content>
        </c-tabs>
      </c-col>
    </c-row>
  </c-modal-body>
</c-modal>