<c-col sm="12">
  <app-select-search
    [dsThietbi]="danhSach"
    [dsDonvi]="dsDonvi"
    (eventSearchThietbi)="eventThietbi($event)"
    (eventSearchDonvi)="eventDonvi($event)"
  ></app-select-search>

  <button (click)="onThemmoi()" nz-button nzType="primary" nzPrimary>
    <span>Thêm</span>
  </button>
  <button (click)="exportexcel()" nz-button nzType="default" nzPrimary>
    Xuất Excel
  </button>
  <c-col sm="12">
    <c-row>
      <c-col sm="12">
        <nz-table
          cTable
          #columnTable
          nzShowQuickJumper
          nzShowSizeChanger
          [nzData]="data"
          [nzScroll]="{ x: '1100px' }"
          [nzPageIndex]="pageIndex"
          [nzPageSize]="pageSize"
          [nzPageSizeOptions]="[3, 5, 10, 20]"
          [nzTotal]="totalRow"
          [nzFrontPagination]="false"
          (nzPageIndexChange)="pageIndexChanged($event)"
          (nzPageSizeChange)="pageSizeChange($event)"
        >
          <thead>
            <tr>
              <th nzLeft scope="col" style="width: 200px">Mã QL</th>
              <th scope="col" style="width: 400px">Thiết bị</th>
              <th scope="col">Đơn vị</th>
              <th scope="col">Vị trí lắp đặt</th>
              <th scope="col">Ngày lắp</th>
              <th scope="col">Số lượng</th>
              <th scope="col">Hành động</th>
            </tr>
          </thead>
          <tbody>
            @for (item of data; track $index) {
            <tr>
              <td nzLeft>{{ item.maQuanLy }}</td>
              <td>{{ item.tenThietBi }}</td>
              <td>{{ item.tenDonVi }}</td>
              <td>{{ item.viTriLapDat }}</td>
              <td>{{ item.ngayLap | date : "dd/MM/yyyy" }}</td>
              <td>{{ item.soLuong }}</td>
              <td>
                <button
                  nz-tooltip
                  [nzTooltipTitle]="titleSua"
                  [nzTooltipTitleContext]="{ $implicit: 'Icon' }"
                  nz-button
                  nzType="primary"
                  style="border-radius: 3px"
                  [nzSize]="size"
                  (click)="onEdit(item.id)"
                >
                  <nz-icon nzType="edit" style="color: #ffffff" /><span
                    >Sửa</span
                  >
                </button>

                <button
                  nz-tooltip
                  [nzTooltipTitle]="titleXoa"
                  [nzTooltipTitleContext]="{ $implicit: 'Icon' }"
                  nz-button
                  nzType="primary"
                  nzDanger
                  style="border-radius: 3px"
                  [nzSize]="size"
                  (click)="showConfirm(item)"
                >
                  <nz-icon nzType="delete" style="color: #ffffff" /><span
                    >Xóa</span
                  >
                </button>
                <ng-template #titleSua let-thing>
                  <nz-icon nzType="edit" />
                  <span>Sửa bản ghi</span>
                </ng-template>
                <ng-template #titleXoa let-thing>
                  <nz-icon nzType="delete" />
                  <span>Xóa bản ghi</span>
                </ng-template>
              </td>
            </tr>
            }
          </tbody>
        </nz-table>
        <div
          class="d-flex justify-content-between"
          style="margin-left: 30px; margin-bottom: 10px"
        >
          <div>
            <strong>
              Tổng số thiết bị:
              <span class="text-primary">{{ sumSoluong }}</span></strong
            >
          </div>
        </div>
      </c-col>
    </c-row>
  </c-col>
</c-col>

<ng-template #icon>
  <nz-icon nzType="question-circle" nzTheme="outline"></nz-icon>
</ng-template>
<ng-template #customer>
  <nz-icon nzType="customer-service" nzTheme="outline"></nz-icon>
</ng-template>

<c-modal
  id="liveDemoModal"
  backdrop="static"
  size="xl"
  [visible]="liveDemoVisible"
  (visibleChange)="handleLiveDemoChange($event)"
>
  <c-modal-header>
    <h5 cModalTitle>{{ title }}</h5>
    <button (click)="onClode()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <c-row>
      <c-col xs="12">
        <c-card class="mb-3">
          <c-card-body>
            <c-tabs
              [activeItemKey]="0"
              (activeItemKeyChange)="handleActiveItemChange($event)"
            >
              <c-tabs-list variant="underline-border">
                <button cTab [itemKey]="0">Cập nhật quạt gió</button>
                <button [hidden]="themoi" cTab [itemKey]="1">
                  Nhật ký bơm nước
                </button>
                <button [hidden]="themoi" cTab [itemKey]="2">
                  Thông số kỹ thuật
                </button>
              </c-tabs-list>
              <c-tabs-content>
                <c-tab-panel [itemKey]="0" class="p-3">
                  @if(dataDetail){
                  <form
                    [formGroup]="Form"
                    #customStylesForm="ngForm"
                    (ngSubmit)="save()"
                    [validated]="customStylesValidated"
                    cForm
                    class="row g-3 needs-validation"
                  >
                    <div>
                      <input
                        hidden="true"
                        formControlName="id"
                        cFormControl
                        id="id"
                        type="number"
                        value="Mark"
                      />
                    </div>
                    <!-- Mã quản lý -->
                    <c-col md="4">
                      <label cLabel for="maQuanLy">Mã quản lý</label>
                      <input
                        [(ngModel)]="dataDetail.maQuanLy"
                        formControlName="maQuanLy"
                        cFormControl
                        id="maQuanLy"
                        required
                        type="text"
                        value="Mark"
                      />
                      <c-form-feedback [valid]="true"
                        >Dữ liệu hợp lệ</c-form-feedback
                      >
                    </c-col>
                    <!-- Thiết bị -->
                    <c-col md="4">
                      <label cLabel for="bomNuocId">Thiết bị</label>
                      <select
                        [(ngModel)]="dataDetail.bomNuocId"
                        formControlName="bomNuocId"
                        cSelect
                        id="bomNuocId"
                        required
                      >
                        <option value="">Chọn hết</option>
                        @for (item of danhSach ; track $index) {
                        <option value="{{ item.id }}">
                          {{ item.tenThietBi }}
                        </option>
                        }
                      </select>
                      <c-form-feedback [valid]="false"
                        >Thiết bị phải chọn.</c-form-feedback
                      >
                    </c-col>
                    <!-- Đơn vị -->
                    <c-col md="4">
                      <label cLabel for="dinViId">Đơn vị</label>
                      <select
                        [(ngModel)]="dataDetail.donViId"
                        formControlName="donViId"
                        cSelect
                        id="dinViId"
                        required
                      >
                        <option value="">Chọn hết</option>
                        @for (item of dsDonvi ; track $index) {
                        <option value="{{ item.id }}">
                          {{ item.tenPhong }}
                        </option>
                        }
                      </select>
                      <c-form-feedback [valid]="false"
                        >Đơn vị phải chọn.</c-form-feedback
                      >
                    </c-col>
                    <!-- Vị trí lắp đặt -->
                    <c-col md="4">
                      <label cLabel for="viTriLapDat">Vị trí lắp đặt</label>
                      <input
                        [(ngModel)]="dataDetail.viTriLapDat"
                        formControlName="viTriLapDat"
                        cFormControl
                        id="viTriLapDat"
                        required
                        type="text"
                      />

                      <c-form-feedback [valid]="false"
                        >Vị trí lắp đặt phải nhập.</c-form-feedback
                      >
                    </c-col>
                    <!-- Ngày lắp -->
                    <c-col md="4">
                      <label cLabel for="ngayLap">Ngày lắp</label>
                      <input
                        [(ngModel)]="dataDetail.ngayLap"
                        formControlName="ngayLap"
                        cFormControl
                        id="ngayLap"
                        required
                        type="date"
                      />
                      <c-form-feedback [valid]="false"
                        >Ngày lắp đặt.</c-form-feedback
                      >
                    </c-col>
                    <!-- Số lượng -->
                    <c-col md="4">
                      <label cLabel for="soLuong">Số lượng</label>
                      <input
                        [(ngModel)]="dataDetail.soLuong"
                        formControlName="soLuong"
                        cFormControl
                        id="soLuong"
                        required
                        type="number"
                      />
                      <c-form-feedback [valid]="false"
                        >Số lượng phải nhập.</c-form-feedback
                      >
                    </c-col>
                    <!-- Tình trạng -->
                    <c-col xs="4">
                      <label cLabel for="tinhTrangThietBi"
                        >Tình trạng thiết bị</label
                      >
                      <input
                        [(ngModel)]="dataDetail.tinhTrangThietBi"
                        formControlName="tinhTrangThietBi"
                        cFormControl
                        id="tinhTrangThietBi"
                        required
                        type="text"
                      />
                    </c-col>

                    <!-- Ghi chú -->
                    <c-col xs="4">
                      <label cLabel for="ghiChu">Ghi chú</label>
                      <input
                        [(ngModel)]="dataDetail.ghiChu"
                        formControlName="ghiChu"
                        cFormControl
                        id="ghiChu"
                        required
                        type="text"
                      />
                    </c-col>
                    <c-col xs="12">
                      <button
                        [disabled]="customStylesForm.form.valid"
                        cButton
                        class="me-1"
                        color="primary"
                        type="submit"
                      >
                        Lưu lại
                      </button>
                      <button cButton color="danger" (click)="onClode()">
                        Đóng
                      </button>
                    </c-col>
                  </form>
                  }
                </c-tab-panel>
                <c-tab-panel [itemKey]="1" class="p-3">
                  <app-nhatkybomnuoc-tab [TonghopbomnuocDetail]="dataDetail">
                  </app-nhatkybomnuoc-tab>
                </c-tab-panel>
                <c-tab-panel [itemKey]="2" class="p-3">
                  <app-thongsobomnuoc-tab [TonghopbomnuocDetail]="dataDetail" />
                </c-tab-panel>
              </c-tabs-content>
            </c-tabs>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-modal-body>
</c-modal>
