<c-col sm="12">
  <c-card class="mb-3">
    <c-card-header ngPreserveWhitespaces>
      <app-select-search
        [dsThietbi]="dsNeo"
        [dsDonvi]="dsDonvi"
        (eventSearchThietbi)="eventThietbi($event)"
        (eventSearchDonvi)="eventDonvi($event)"
      ></app-select-search>
      <button (click)="onThemmoi()" nz-button nzType="primary" nzPrimary>
        <span>Thêm</span>
      </button>
      <button (click)="exportexcel()" nz-button nzType="default" nzPrimary>
        Xuất Excel
      </button>
    </c-card-header>
    <c-card-body>
      <c-col sm="12">
        <c-card class="mb-4">
          <c-card-body class="table-responsive">
            <c-row>
              <c-col sm="12">
                <nz-table
                  cTable
                  #columnTable
                  nzShowQuickJumper
                  nzShowSizeChanger
                  [nzData]="dataNeo"
                  [nzScroll]="{ x: '1100px' }"
                  [nzPageIndex]="pageIndex"
                  [nzPageSize]="pageSize"
                  [nzPageSizeOptions]="[3, 5, 10, 20]"
                  [nzTotal]="totalRow"
                  [nzFrontPagination]="false"
                  (nzPageIndexChange)="pageIndexChanged($event)"
                  (nzPageSizeChange)="pageSizeChange($event)"
                >
                  <thead>
                    <tr>
                      <th scope="col">Thiết bị</th>
                      <th scope="col">Đơn vị</th>
                      <th scope="col">Ngày lắp</th>
                      <th scope="col">Số lượng</th>
                      <th scope="col">Vị trí lắp đặt</th>
                      <th scope="col">Tình trạng TB</th>
                      <th scope="col">Hành động</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (item of dataNeo; track $index) {
                    <tr>
                      <td>{{ item.tenThietBi }}</td>
                      <td>{{ item.tenDonVi }}</td>
                      <td>{{ item.ngayLap | date : "dd/MM/yyyy" }}</td>
                      <td>{{ item.soLuong }}</td>
                      <td>{{ item.viTriLapDat }}</td>
                      <td>{{ item.tinhTrangThietBi }}</td>
                      <td>
                        <button
                          nz-tooltip
                          [nzTooltipTitle]="titleSua"
                          [nzTooltipTitleContext]="{ $implicit: 'Icon' }"
                          nz-button
                          nzType="default"
                          [nzSize]="size"
                          (click)="onEdit(item.id)"
                        >
                          <nz-icon
                            nzType="edit"
                            style="color: rgb(16, 142, 233)"
                          />
                        </button>

                        <button
                          nz-tooltip
                          [nzTooltipTitle]="titleXoa"
                          [nzTooltipTitleContext]="{ $implicit: 'Icon' }"
                          nz-button
                          nzType="default"
                          [nzSize]="size"
                          (click)="onDelete(item)"
                        >
                          <nz-icon
                            nzType="delete"
                            style="color: rgb(255, 0, 0)"
                          />
                        </button>

                        <ng-template #titleSua let-thing>
                          <nz-icon nzType="edit" />
                          <span>Sửa bản ghi</span>
                        </ng-template>
                        <ng-template #titleXoa let-thing>
                          <nz-icon nzType="delete" />
                          <span>Xóa bản ghi</span>
                        </ng-template>
                      </td>
                    </tr>
                    }
                  </tbody>
                </nz-table>
              </c-col>
            </c-row>
          </c-card-body>
        </c-card>
      </c-col>
    </c-card-body>
  </c-card>
</c-col>

<c-modal
  [(visible)]="liveDemoVisible"
  centered="true"
  [size]="'xl'"
  [backdrop]="'static'"
  [keyboard]="false"
  [scrollable]="true"
>
  <c-modal-header>
    <h5 cModalTitle>{{ title }}</h5>
    <button (click)="onClode()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <c-row>
      <c-col xs="12">
        <c-card class="mb-3">
          <c-card-body>
            <c-tabs
              [activeItemKey]="0"
              (activeItemKeyChange)="handleActiveItemChange($event)"
            >
              <c-tabs-list variant="underline-border">
                <button cTab [itemKey]="0">Cập nhật neo</button>
                <button [hidden]="themoi" cTab [itemKey]="1">
                  Nhật ký neo
                </button>
                <button [hidden]="themoi" cTab [itemKey]="2">
                  Thông số kỹ thuật
                </button>
              </c-tabs-list>
              <c-tabs-content>
                <c-tab-panel [itemKey]="0" class="p-3">
                  <form [formGroup]="Form" (ngSubmit)="save()">
                    @if(!themoi){
                    <input
                      hidden="true"
                      [(ngModel)]="dataNeoDetail.id"
                      formControlName="id"
                      cFormControl
                      id="id"
                      type="number"
                      value="Mark"
                    />
                    }

                    <div class="mb-3 row">
                      <label for="neoId" class="col-sm-2 col-form-label"
                        >Neo</label
                      >
                      <div class="col-sm-10">
                        <select
                          id="neoId"
                          class="form-control"
                          [(ngModel)]="dataNeoDetail.neoId"
                          formControlName="neoId"
                        >
                          <option *ngFor="let neo of dsNeo" [value]="neo.id">
                            {{ neo.tenThietBi }}
                          </option>
                        </select>
                        <div
                          *ngIf="
                            Form.get('neoId')?.invalid &&
                            Form.get('neoId')?.touched
                          "
                          class="text-danger"
                        >
                          Vui lòng chọn neo.
                        </div>
                      </div>
                    </div>

                    <div class="mb-3 row">
                      <label for="donViId" class="col-sm-2 col-form-label"
                        >Đơn vị</label
                      >
                      <div class="col-sm-10">
                        <select
                          id="donViId"
                          class="form-control"
                          [(ngModel)]="dataNeoDetail.donViId"
                          formControlName="donViId"
                        >
                          <option
                            *ngFor="let donVi of dsDonvi"
                            [value]="donVi.id"
                          >
                            {{ donVi.tenPhong }}
                          </option>
                        </select>
                        <div
                          *ngIf="
                            Form.get('donViId')?.invalid &&
                            Form.get('donViId')?.touched
                          "
                          class="text-danger"
                        >
                          Vui lòng chọn đơn vị.
                        </div>
                      </div>
                    </div>

                    <div class="mb-3 row">
                      <label for="viTriLapDat" class="col-sm-2 col-form-label"
                        >Vị trí lắp đặt</label
                      >
                      <div class="col-sm-10">
                        <input
                          id="viTriLapDat"
                          type="text"
                          class="form-control"
                          [(ngModel)]="dataNeoDetail.viTriLapDat"
                          formControlName="viTriLapDat"
                        />
                      </div>
                    </div>

                    <div class="mb-3 row">
                      <label for="ngayLap" class="col-sm-2 col-form-label"
                        >Ngày lắp</label
                      >
                      <div class="col-sm-10">
                        <input
                          id="ngayLap"
                          type="date"
                          class="form-control"
                          [(ngModel)]="dataNeoDetail.ngayLap"
                          formControlName="ngayLap"
                        />
                      </div>
                    </div>

                    <div class="mb-3 row">
                      <label for="soLuong" class="col-sm-2 col-form-label"
                        >Số lượng</label
                      >
                      <div class="col-sm-10">
                        <input
                          id="soLuong"
                          type="number"
                          class="form-control"
                          [(ngModel)]="dataNeoDetail.soLuong"
                          formControlName="soLuong"
                        />
                      </div>
                    </div>

                    <div class="mb-3 row">
                      <label
                        for="tinhTrangThietBi"
                        class="col-sm-2 col-form-label"
                        >Tình trạng thiết bị</label
                      >
                      <div class="col-sm-10">
                        <input
                          id="tinhTrangThietBi"
                          type="text"
                          class="form-control"
                          [(ngModel)]="dataNeoDetail.tinhTrangThietBi"
                          formControlName="tinhTrangThietBi"
                        />
                      </div>
                    </div>

                    <div class="mb-3 row">
                      <label for="ghiChu" class="col-sm-2 col-form-label"
                        >Ghi chú</label
                      >
                      <div class="col-sm-10">
                        <input
                          id="ghiChu"
                          type="text"
                          class="form-control"
                          [(ngModel)]="dataNeoDetail.ghiChu"
                          formControlName="ghiChu"
                        />
                      </div>
                    </div>

                    <div class="mb-3 row">
                      <div class="col-sm-2 col-form-label"></div>
                      <div class="col-sm-10">
                        <button
                          type="submit"
                          nz-button
                          nzType="primary"
                          [disabled]="Form.invalid"
                        >
                          Lưu
                        </button>
                        <button nz-button nzType="default" (click)="onReset()">
                          Hủy
                        </button>
                      </div>
                    </div>
                  </form>
                </c-tab-panel>
                <c-tab-panel [itemKey]="1" class="p-3">
                  <app-nhatkyneo-tab
                    [TonghopneoDetail]="dataNeoDetail"
                  ></app-nhatkyneo-tab>
                </c-tab-panel>
                <c-tab-panel [itemKey]="2" class="p-3">
                  <app-thongsoneo-tab
                    [TonghopneoDetail]="dataNeoDetail"
                  ></app-thongsoneo-tab>
                </c-tab-panel>
              </c-tabs-content>
            </c-tabs>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-modal-body>
</c-modal>
