[nz-button] {
    margin-right: 8px;
    margin-bottom: 8px;
   
  }

  nz-input-group{
    width: 400px;
}
// .group {  
//   position: relative;
// }
// nz-float-button-group,
// nz-float-button {
//   position: absolute;
// }
form{
  position: relative;
}
.hide{
  opacity: 0  }