<!-- Model -->
<c-col sm="12">
  <c-card class="mb-3">
    <c-card-header ngPreserveWhitespaces>
      <app-select-search
        [dsThietbi]="dsToitruc"
        [dsDonvi]="dsDonvi"
        (eventSearchThietbi)="eventThietbi($event)"
        (eventSearchDonvi)="eventDonvi($event)"
      ></app-select-search>

      <button (click)="onThemmoi()" nz-button nzType="primary" nzPrimary>
        <span>Thêm</span>
      </button>
      <button (click)="exportexcel()" nz-button nzType="default" nzPrimary>
        Xuất Excel
      </button>
    </c-card-header>
    <c-card-body class="table-responsive">
      <c-col sm="12">
        <c-card class="mb-4">
          <c-row>
            <c-col sm="12">
              <nz-table
                cTable
                #columnTable
                nzShowQuickJumper
                nzShowSizeChanger
                [nzData]="toitrucs"
                [nzScroll]="{ x: '1100px' }"
                [nzPageIndex]="pageIndex"
                [nzPageSize]="pageSize"
                [nzPageSizeOptions]="[3, 5, 10, 20]"
                [nzTotal]="totalRow"
                [nzFrontPagination]="false"
                (nzPageIndexChange)="pageIndexChanged($event)"
                (nzPageSizeChange)="pageSizeChange($event)"
              >
                <thead>
                  <tr>
                    <th nzLeft scope="col">Mã QL</th>
                    <th nzLeft scope="col">Thiết bị</th>
                    <th scope="col">Đơn vị</th>
                    <th scope="col">Vị trí lắp đặt</th>
                    <th scope="col">Ngày lắp</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Hành động</th>
                  </tr>
                </thead>
                <tbody>
                  @for (item of toitrucs ; track $index) {
                  <tr>
                    <td nzLeft>{{ item.maQuanLy }}</td>
                    <td nzLeft>{{ item.tenThietBi }}</td>
                    <td>{{ item.phongBan }}</td>
                    <td>{{ item.viTriLapDat }}</td>
                    <td>{{ item.ngayLap | date : "dd/MM/yyyy" }}</td>
                    <td>{{ item.soLuong }}</td>
                    <td>
                      <button
                        nz-tooltip
                        [nzTooltipTitle]="titleSua"
                        [nzTooltipTitleContext]="{ $implicit: 'Icon' }"
                        nz-button
                        nzType="default"
                        [nzSize]="size"
                        (click)="onEdit(item.id)"
                      >
                        <nz-icon
                          nzType="edit"
                          style="color: rgb(16, 142, 233)"
                        />
                      </button>
                      <ng-template #titleSua let-thing>
                        <nz-icon nzType="edit" />
                        <span>Sửa bản ghi</span>
                      </ng-template>
                      <ng-template #titleXoa let-thing>
                        <nz-icon nzType="delete" />
                        <span>Xóa bản ghi</span>
                      </ng-template>

                      <button
                        nz-tooltip
                        [nzTooltipTitle]="titleXoa"
                        [nzTooltipTitleContext]="{ $implicit: 'Icon' }"
                        nz-button
                        nzType="default"
                        [nzSize]="size"
                        (click)="showConfirm(item)"
                      >
                        <nz-icon
                          nzType="delete"
                          style="color: rgb(255, 0, 0)"
                        />
                      </button>
                    </td>
                  </tr>
                  }
                </tbody>
              </nz-table>
              <div
                class="d-flex justify-content-between"
                style="margin-left: 30px; margin-bottom: 10px"
              >
                <div>
                  <strong>
                    Tổng số thiết bị:
                    <span class="text-primary">{{ sumSoluong }}</span></strong
                  >
                </div>
              </div>
            </c-col>
          </c-row>
        </c-card>
      </c-col>
    </c-card-body>
  </c-card>
</c-col>

<ng-template #icon>
  <nz-icon nzType="question-circle" nzTheme="outline"></nz-icon>
</ng-template>
<ng-template #customer>
  <nz-icon nzType="customer-service" nzTheme="outline"></nz-icon>
</ng-template>

<c-modal
  id="liveDemoModal"
  size="xl"
  backdrop="static"
  [visible]="liveDemoVisible"
  (visibleChange)="handleLiveDemoChange($event)"
>
  <c-modal-header>
    <h5 cModalTitle>{{ title }}</h5>
    <button (click)="onClode()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <c-row>
      <c-col xs="12">
        <c-card class="mb-3">
          <c-card-body>
            <c-tabs
              [activeItemKey]="0"
              (activeItemKeyChange)="handleActiveItemChange($event)"
            >
              <c-tabs-list variant="underline-border">
                <button cTab [itemKey]="0">Cập nhật tời điện</button>
                <button [hidden]="themoi" cTab [itemKey]="1">
                  Nhật ký tời điện
                </button>
                <button [hidden]="themoi" cTab [itemKey]="2">
                  Thông số kỹ thuật
                </button>
              </c-tabs-list>
              <c-tabs-content>
                <c-tab-panel [itemKey]="0" class="p-3">
                  @if(toitrucDetail){
                  <form
                    [formGroup]="Form"
                    #customStylesForm="ngForm"
                    (ngSubmit)="save()"
                    [validated]="customStylesValidated"
                    cForm
                    class="row g-3 needs-validation"
                  >
                    <div>
                      <input
                        hidden="true"
                        [(ngModel)]="toitrucDetail.id"
                        formControlName="id"
                        cFormControl
                        id="id"
                        type="number"
                        value="Mark"
                      />
                    </div>
                    <c-col md="4">
                      <label cLabel for="maQuanLy">Mã quản lý</label>
                      <input
                        [(ngModel)]="toitrucDetail.maQuanLy"
                        formControlName="maQuanLy"
                        cFormControl
                        id="maQuanLy"
                        required
                        type="text"
                        value="Mark"
                      />
                      <c-form-feedback [valid]="true"
                        >Dữ liệu hợp lệ</c-form-feedback
                      >
                    </c-col>
                    <c-col md="4">
                      <label cLabel for="thietbiId">Thiết bị</label>
                      <select
                        [(ngModel)]="toitrucDetail.thietbiId"
                        formControlName="thietbiId"
                        cSelect
                        id="thietbiId"
                        required
                      >
                        <option value="">Chọn thiết bị...</option>
                        @for (item of dsToitruc ; track $index) {
                        <option value="{{ item.id }}">
                          {{ item.tenThietBi }}
                        </option>
                        }
                      </select>
                      <c-form-feedback [valid]="false"
                        >Thiết bị phải chọn.</c-form-feedback
                      >
                    </c-col>
                    <c-col md="4">
                      <label cLabel for="donViSuDung">Đơn vị</label>
                      <select
                        [(ngModel)]="toitrucDetail.donViSuDungId"
                        formControlName="donViSuDungId"
                        cSelect
                        id="donViSuDung"
                        required
                      >
                        <option value="">Chọn đơn vị...</option>
                        @for (item of dsDonvi ; track $index) {
                        <option value="{{ item.id }}">
                          {{ item.tenPhong }}
                        </option>
                        }
                      </select>
                      <c-form-feedback [valid]="false"
                        >Đơn vị phải chọn.</c-form-feedback
                      >
                    </c-col>
                    <c-col md="6">
                      <label cLabel for="viTriLapDat">Vị trí lắp đặt</label>
                      <input
                        [(ngModel)]="toitrucDetail.viTriLapDat"
                        formControlName="viTriLapDat"
                        cFormControl
                        id="viTriLapDat"
                        required
                        type="text"
                      />
                      <c-form-feedback [valid]="false"
                        >Vị trí lắp đặt phải nhập.</c-form-feedback
                      >
                    </c-col>
                    <c-col md="3">
                      <label cLabel for="ngayLap">Ngày lắp</label>
                      <input
                        [(ngModel)]="toitrucDetail.ngayLap"
                        formControlName="ngayLap"
                        cFormControl
                        id="ngayLap"
                        required
                        type="date"
                      />
                      <c-form-feedback [valid]="false"
                        >Ngày lắp đặt.</c-form-feedback
                      >
                    </c-col>
                    <c-col md="3">
                      <label cLabel for="soLuong">Số lượng</label>
                      <input
                        [(ngModel)]="toitrucDetail.soLuong"
                        formControlName="soLuong"
                        cFormControl
                        id="soLuong"
                        required
                        type="number"
                      />
                      <c-form-feedback [valid]="false"
                        >Số lượng phải nhập.</c-form-feedback
                      >
                    </c-col>
                    <c-col xs="6">
                      <label cLabel for="tinhTrangThietBi"
                        >Tình trạng thiết bị</label
                      >
                      <input
                        [(ngModel)]="toitrucDetail.tinhTrangThietBi"
                        formControlName="tinhTrangThietBi"
                        cFormControl
                        id="tinhTrangThietBi"
                        required
                        type="text"
                      />
                    </c-col>
                    <c-col xs="6">
                      <label cLabel for="mucDichSuDung">Mục đích sử dụng</label>
                      <input
                        [(ngModel)]="toitrucDetail.mucDichSuDung"
                        formControlName="mucDichSuDung"
                        cFormControl
                        id="mucDichSuDung"
                        required
                        type="text"
                      />
                    </c-col>
                    <c-col xs="12">
                      <label cLabel for="ghiChu">Ghi chú</label>
                      <input
                        [(ngModel)]="toitrucDetail.ghiChu"
                        formControlName="ghiChu"
                        cFormControl
                        id="ghiChu"
                        required
                        type="text"
                      />
                    </c-col>
                    <c-col xs="12">
                      <button
                        cButton
                        class="me-1"
                        color="primary"
                        type="submit"
                      >
                        Lưu lại
                      </button>
                      <button cButton color="danger" (click)="onClode()">
                        Đóng
                      </button>
                    </c-col>
                  </form>
                  }
                </c-tab-panel>
                <c-tab-panel [itemKey]="1" class="p-3">
                  <app-nhatkytoidien-tab
                    [TonghoptoitrucDetail]="toitrucDetail"
                  ></app-nhatkytoidien-tab>
                </c-tab-panel>
                <c-tab-panel [itemKey]="2" class="p-3">
                  <app-thongsotoidien-tab
                    [TonghoptoitrucDetail]="toitrucDetail"
                  ></app-thongsotoidien-tab>
                </c-tab-panel>
              </c-tabs-content>
            </c-tabs>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-modal-body>
</c-modal>
