<c-col sm="12">
  <app-select-search [dsThietbi]="dsBangtai" [dsDonvi]="dsDonvi" (eventSearchThietbi)="eventBangtai($event)"
    (eventSearchDonvi)="eventDonvi($event)"></app-select-search>

  <button (click)="onThemmoi()" nz-button nzType="primary" nzPrimary>
    <nz-icon nzType="plus" />
    <span>Thêm</span>
  </button>
  <button (click)="exportexcel()" nz-button nzType="default" nzPrimary>
    Xuất Excel
  </button>

  <c-col sm="12">
    <c-row>
      <c-col sm="12">
        <nz-table cTable #columnTable nzShowQuickJumper nzShowSizeChanger [nzData]="dataBangtai"
          [nzScroll]="{ x: '1100px' }" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize"
          [nzPageSizeOptions]="[3, 5, 10, 20]" [nzTotal]="totalRow" [nzFrontPagination]="false"
          (nzPageIndexChange)="pageIndexChanged($event)" (nzPageSizeChange)="pageSizeChange($event)">
          <thead>
            <tr>
              <th nzLeft scope="col" style="width: 200px">Mã hiệu</th>
              <th scope="col" style="width: 400px">Băng tải</th>
              <th scope="col">Đơn vị</th>
              <th scope="col">Vị trí lắp đặt</th>
              <th scope="col">Ngày lắp</th>
              <th scope="col">Dự phòng</th>
              <th scope="col">Hành động</th>
            </tr>
          </thead>
          <tbody>
            @for (item of dataBangtai; track $index) {
            <tr>
              <td nzLeft>{{ item.maHieu || 'N/A' }}</td>
              <td>{{ item.tenThietBi || 'N/A' }}</td>
              <td>{{ item.tenPhong || 'N/A' }}</td>
              <td>{{ item.viTriLapDat || 'N/A' }}</td>
              <td>{{ item.ngayLap ? (item.ngayLap | date : "dd/MM/yyyy") : 'N/A' }}</td>
              <td [style.color]="item.duPhong ? 'red' : ''">{{ item.duPhong ? "Dự phòng" : "" }}</td>
              <td>
                <button nz-button nzType="primary" style="border-radius: 3px" [nzSize]="size" (click)="onEdit(item.id)">
                  <nz-icon nzType="edit" style="color: #ffffff" /><span>Sửa</span>
                </button>

                <button nz-button nzType="primary" nzDanger style="border-radius: 3px" [nzSize]="size"
                  (click)="showConfirm(item)">
                  <nz-icon nzType="delete" style="color: #ffffff" /><span>Xóa</span>
                </button>
              </td>
            </tr>
            }
          </tbody>
        </nz-table>
      </c-col>
    </c-row>
  </c-col>
</c-col>

<!-- Modal -->
<c-modal id="liveDemoModal" size="lg" backdrop="static" [visible]="liveDemoVisible"
  (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>{{ title }}</h5>
    <button (click)="onClode()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <c-row>
      <c-col xs="12">
        <c-tabs [activeItemKey]="0" (activeItemKeyChange)="handleActiveItemChange($event)">
          <c-tabs-list variant="underline-border">
            <button cTab [itemKey]="0">Cập nhật băng tải</button>
          </c-tabs-list>
          <c-tabs-content>
            <c-tab-panel [itemKey]="0" class="p-3">
              <form nz-form [formGroup]="Form" (ngSubmit)="save()">
                <input [hidden]="true" type="number" formControlName="id" [(ngModel)]="detail.id" />

                <nz-form-item>
                  <nz-form-label [nzSpan]="5">Mã hiệu</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input id="maHieu" nz-input cFormControl sizing="sm" formControlName="maHieu"
                      [(ngModel)]="detail.maHieu" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSpan]="5" nzFor="bangTaiId" nzRequired>Băng tải</nz-form-label>
                  <nz-form-control [nzSpan]="16" nzErrorTip="Băng tải phải chọn">
                    <select id="bangTaiId" formControlName="bangTaiId" [(ngModel)]="detail.bangTaiId"
                      aria-label="Default select example" cSelect sizing="sm">
                      <option>Chọn băng tải</option>
                      @for (item of dsBangtai; track item.id) {
                      <option value="{{ item.id }}">
                        {{ item.tenBangTai || item.tenThietBi }}
                      </option>
                      }
                    </select>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSpan]="5">Đơn vị</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <select id="donViId" formControlName="donViId" [(ngModel)]="detail.donViId" cSelect sizing="sm">
                      <option>Chọn đơn vị</option>
                      @for (item of dsDonvi; track item.id) {
                      <option value="{{ item.id }}">{{ item.tenPhong }}</option>
                      }
                    </select>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSpan]="5">Vị trí lắp đặt</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input id="viTriLapDat" nz-input cFormControl sizing="sm" formControlName="viTriLapDat"
                      [(ngModel)]="detail.viTriLapDat" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSpan]="5">Ngày lắp</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input id="ngayLap" nz-input cFormControl sizing="sm" formControlName="ngayLap"
                      [(ngModel)]="detail.ngayLap" type="date" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSpan]="5">N máy</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input id="nMay" nz-input cFormControl sizing="sm" formControlName="nMay"
                      [(ngModel)]="detail.nMay" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSpan]="5">L máy</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input id="lMay" nz-input cFormControl sizing="sm" formControlName="lMay"
                      [(ngModel)]="detail.lMay" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSpan]="5">Khung đầu</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input id="khungDau" nz-input cFormControl sizing="sm" formControlName="khungDau"
                      [(ngModel)]="detail.khungDau" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSpan]="5">Khung dưới</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input id="khungDuoi" nz-input cFormControl sizing="sm" formControlName="khungDuoi"
                      [(ngModel)]="detail.khungDuoi" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSpan]="5">Khung băng rời</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input id="khungBangRoi" nz-input cFormControl sizing="sm" formControlName="khungBangRoi"
                      [(ngModel)]="detail.khungBangRoi" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSpan]="5">Dây băng</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input id="dayBang" nz-input cFormControl sizing="sm" formControlName="dayBang"
                      [(ngModel)]="detail.dayBang" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSpan]="5">Con lăn</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input id="conLan" nz-input cFormControl sizing="sm" formControlName="conLan"
                      [(ngModel)]="detail.conLan" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSpan]="5">Tình trạng thiết bị</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input id="tinhTrangThietbi" nz-input cFormControl sizing="sm" formControlName="tinhTrangThietbi"
                      [(ngModel)]="detail.tinhTrangThietbi" />
                  </nz-form-control>
                </nz-form-item>

                 <!-- Thiết bị dự phòng -->
                 <nz-form-item>
                  <nz-form-label [nzSpan]="5">TB Dự phòng</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <c-form-check [switch]="detail.duPhong">
                      <input cFormCheckInput checked sizing="lg" type="checkbox" [(ngModel)]="detail.duPhong"
                        formControlName="duPhong" />
                      <label cFormCheckLabel>{{
                        detail.duPhong ? "Kích hoạt" : "Hủy kích hoạt"
                        }}</label>
                    </c-form-check>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSpan]="5">Ghi chú</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input id="ghiChu" nz-input cFormControl sizing="sm" formControlName="ghiChu"
                      [(ngModel)]="detail.ghiChu" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label class="hide" [nzSpan]="5"></nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <button nz-button nzType="primary" nzPrimary type="submit" [nzLoading]="isLoading">
                      <nz-icon nzType="save" />
                      <span>Lưu lại</span>
                    </button>
                    <button nz-button nzType="default" nzPrimary (click)="onClode()">
                      Đóng
                    </button>
                  </nz-form-control>
                </nz-form-item>
              </form>
            </c-tab-panel>
          </c-tabs-content>
        </c-tabs>
      </c-col>
    </c-row>
  </c-modal-body>
</c-modal>