<c-row [gutter]="4" class="mb-3" [md]="6" [xs]="1">
  <c-col>
    <c-card class="hCard">
      <img
        class="p-3"
        style="width: 100%; height: 200px"
        cCardImg="top"
        src="../../../assets/images/thietbi/Toidien.jpg"
      />
      <c-card-body>
        <h6 cCardTitle>TỜI ĐIỆN</h6>
        <p cCardText>Cập nhật thiết bị tời điện</p>
        <button
          cNavLink
          routerLink="/toidien/capnhattoidien"
          routerLinkActive="active"
          color="primary"
          cButton
          size="sm"
        >
          Cập nhật
        </button>
      </c-card-body>
      <c-card-footer>
        <div class="d-flex justify-content-between">
          <small class="text-medium-emphasis">Tổng số thiết bị </small>
          <span class="badge bg-danger">{{ sumTonghoptoitruc }}</span>
        </div>
      </c-card-footer>
    </c-card>
  </c-col>
  <c-col>
    <c-card class="hCard">
      <img
        class="p-3"
        style="width: 100%; height: 200px"
        cCardImg="top"
        src="../../../assets/images/thietbi/Maykhoan.jpg"
      />
      <c-card-body>
        <h6 cCardTitle>MÁY XÚC</h6>
        <p cCardText>Cập nhật thiết bị máy xúc</p>
        <button
          cNavLink
          routerLink="/mayxuc/tonghopmayxuc"
          routerLinkActive="active"
          color="primary"
          cButton
          size="sm"
        >
          Cập nhật
        </button>
      </c-card-body>
      <c-card-footer>
        <div class="d-flex justify-content-between">
          <small class="text-medium-emphasis">Tổng số thiết bị </small>
          <span class="badge bg-danger">{{ sumTonghopmayxuc }}</span>
        </div>
      </c-card-footer>
    </c-card>
  </c-col>

  <c-col>
    <c-card class="hCard">
      <img
        class="p-3"
        style="width: 100%; height: 200px"
        cCardImg="top"
        src="../../../assets/images/thietbi/Quatgio.jpg"
      />
      <c-card-body>
        <h6 cCardTitle>QUẠT GIÓ</h6>
        <p cCardText>Cập nhật thiết bị quạt gió</p>
        <button
          routerLink="/quatgio/tonghopquatgio"
          color="primary"
          cButton
          size="sm"
        >
          Cập nhật
        </button>
      </c-card-body>
      <c-card-footer>
        <div class="d-flex justify-content-between">
          <small class="text-medium-emphasis">Tổng số thiết bị </small>
          <span class="badge bg-danger">{{ sumTonghopquatgio }}</span>
        </div>
      </c-card-footer>
    </c-card>
  </c-col>
  <c-col>
    <c-card class="hCard">
      <img
        class="p-3"
        style="width: 100%; height: 200px"
        cCardImg="top"
        src="../../../assets/images/thietbi/Bomnuoc.jpg"
      />
      <c-card-body>
        <h6 cCardTitle>BƠM NƯỚC</h6>
        <p cCardText>Cập nhật thiết bị bơm nước</p>
        <button
          routerLink="/bomnuoc/tonghopbomnuoc"
          color="primary"
          cButton
          size="sm"
        >
          Cập nhật
        </button>
      </c-card-body>
      <c-card-footer>
        <div class="d-flex justify-content-between">
          <small class="text-medium-emphasis">Tổng số thiết bị </small>
          <span class="badge bg-danger">{{ sumTonghopbomnuoc }}</span>
        </div>
      </c-card-footer>
    </c-card>
  </c-col>

  <c-col>
    <c-card class="hCard">
      <img
        class="p-3"
        style="width: 100%; height: 200px"
        cCardImg="top"
        src="../../../assets/images/thietbi/Bienap.jpg"
      />
      <c-card-body>
        <h6 cCardTitle>BIẾN ÁP</h6>
        <p cCardText>Cập nhật thiết bị biến áp</p>
        <button color="primary" cButton size="sm">Cập nhật</button>
      </c-card-body>
      <c-card-footer>
        <small class="text-medium-emphasis"
          >Tổng số bản ghi <strong>3</strong></small
        >
      </c-card-footer>
    </c-card>
  </c-col>
  <c-col>
    <c-card class="hCard">
      <img
        class="p-3"
        style="width: 100%; height: 200px"
        cCardImg="top"
        src="../../../assets/images/thietbi/Role.jpg"
      />
      <c-card-body>
        <h6 cCardTitle>RƠ LE</h6>
        <p cCardText>Cập nhật rơ le</p>
        <button color="primary" cButton size="sm">Cập nhật</button>
      </c-card-body>
      <c-card-footer>
        <small class="text-medium-emphasis"
          >Tổng số bản ghi <strong>3</strong></small
        >
      </c-card-footer>
    </c-card>
  </c-col>
  <c-col>
    <c-card class="hCard">
      <img
        class="p-3"
        style="width: 100%; height: 200px"
        cCardImg="top"
        src="../../../assets/images/thietbi/capdien.png"
      />
      <c-card-body>
        <h6 cCardTitle>CÁP ĐIỆN</h6>
        <p cCardText>Cập nhật cáp điện</p>
        <button color="primary" cButton size="sm">Cập nhật</button>
      </c-card-body>
      <c-card-footer>
        <small class="text-medium-emphasis"
          >Tổng số bản ghi <strong>3</strong></small
        >
      </c-card-footer>
    </c-card>
  </c-col>
</c-row>
